@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

img {
    width: 100%;
}

a {
    display: block;
    background-color: darkred;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
}