@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
}

#telefone {
    height: 627px;
    width: 311px;
    background-image: url(../pacote-d013/imagens/frame-iphone.png);
    position: absolute;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}