@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
}

#telefone {
    height: 627px;
    width: 311px;
    background-image: url(../pacote-d013/imagens/frame-iphone.png);
    position: absolute;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

#redes-sociais > a > img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
    box-sizing: border-box;

}

section {
    display: flex;
    flex-direction: column;
}

#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.521);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transform: translate(-3px, -3px);
    transition: transform .3s;
}


::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}